@font-face{
  font-family: 'Work Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
}
*{
  box-sizing: border-box;
}
:root{
  --col01-rgb:241, 251, 234;
  --col01:rgb(var(--col01-rgb));
  --col02:#171219;
  --col03:#5252ff;
  --col04:#b6e878;
  --border: 1px solid var(--col01);
  --headline-1: clamp(
                1rem,
                1rem + 1vw,
                2.75rem);
  --headline-2: clamp(
                1rem,
                1rem + 1vw,
                2.35rem);
  --headline-3: clamp(
                1rem,
                1rem + 1vw,
                1.5rem);
  --headline-4: clamp(
                1rem,
                1rem + 1vw,
                1.15rem);
}
h1, .h1 { font-size: var(--headline-1); }

h2, .h2 { font-size: var(--headline-2); }

h3, .h3 { font-size: var(--headline-3); }

h4, .h4 { font-size: var(--headline-4); }

html,
body {
  margin: 0;
  padding: 0;        
  font-family: 'Work Sans', sans-serif;
  color: var(--col01);
  background-color: var(--col02);
  line-height: 1.5;
  overflow: hidden;
}

/* nav Section */
nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--col02);
  align-items: flex-end;
}
/* insert pseudo elements instead of gap to get border effect */
.navGap {
  width: 1rem;
  border-bottom: var(--border);
}
.navOrnament {
  width: 10rem;
  flex-shrink: 1;
  border-bottom: var(--border);
}
.navTab {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  border: var(--border);
  font-size: var(--headline-2);
  margin-top: 0.5rem;
  color: var(--col01);
}
.activeNavTab {
  background-color: var(--col02);
  border-bottom: 0;
  background: linear-gradient(
    to bottom, 
    rgba(var(--col01-rgb), 0.2), 
    var(--col02) 70%
  );
  align-self: stretch;
  margin-top: 0rem;
}

/* main section */
main {
  padding: 1rem;
  border: var(--border);
  border-image: 
    linear-gradient(
      to bottom, 
      var(--col01) 0 0.5rem, 
      var(--col02) 0.5rem
    ) 1 100%;
}



/* animated details */
details > summary{
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  list-style: none;
  font-size: var(--headline-2);
}
.detailsDisclosure{
  width: var(--headline-2);
  height: var(--headline-2);
  border: 2px solid var(--col01);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--col02);
  transition: 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
line {
  stroke: var(--col01);
  transition: 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transform-origin: center;
}
/* top line */
details[open] > summary > svg > line:nth-child(1) {
  stroke-width: 20;
  transform: translate(-15%,10%) rotate(45deg) scale(50%, 50%);
}
/* middle line */
details[open] > summary > svg > line:nth-child(2) {
  opacity: 0;
  transform: rotate(180deg);
}
/* bottom line */
details[open] > summary > svg > line:nth-child(3) {
  stroke-width: 20;
  transform: translate(7.5%,-5%) rotate(-45deg) scale(50%, 50%);
}
.summaryText {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}