@font-face{
  font-family: 'Work Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
}
*{
  box-sizing: border-box;
}
:root{
  --col01-rgb:240, 246, 240;
  --col01:rgb(var(--col01-rgb));
  --col02:#222323;
  --col03:#5252ff;
  --col04:#b6e878;
  
  --border: 1px solid var(--col01);

  --headline-1: clamp(
                1rem,
                1rem + 1vw,
                2.75rem);
  --headline-2: clamp(
                1rem,
                1rem + 1vw,
                2.35rem);
  --headline-3: clamp(
                1rem,
                1rem + 1vw,
                1.5rem);
  --headline-4: clamp(
                1rem,
                1rem + 1vw,
                1.15rem);
}

h1, .h1 { font-size: var(--headline-1); }

h2, .h2 { font-size: var(--headline-2); }

h3, .h3 { font-size: var(--headline-3); }

h4, .h4 { font-size: var(--headline-4); }

html,
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */

  background-color: var(--col02);
  color: var(--col01);

  font-family: 'Work Sans', sans-serif;  
  line-height: 1.5;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  height: 100vh;
  margin: 0 auto;
}

/* nav Section */
nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;

  background-color: var(--col02);
}
/* insert pseudo elements instead of gap to get border effect */
.navGap {
  width: 1rem;
  border-bottom: var(--border);
}
.navOrnament {
  width: 10rem;
  flex-shrink: 1;
  border-bottom: var(--border);
}
.navTab {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  border: var(--border);
  margin-top: 0.5rem;

  color: var(--col01);

  font-size: var(--headline-2);
}
.activeNavTab {
  align-self: stretch;
  border-bottom: 0;
  margin-top: 0rem;
  
  background: linear-gradient(
    to bottom, 
    rgba(var(--col01-rgb), 0.2), 
    var(--col02) 70%
  );  
}

/* main section */
main {
  padding: 1rem;
  border: var(--border);
  border-image: 
    linear-gradient(
      to bottom, 
      var(--col01) 0 0.5rem, 
      var(--col02) 0.5rem
    ) 1 100%;
  flex: 1;
  overflow: hidden;
}

/* scroll bar */
.simplebar-track {
  margin-top: 1rem;
  border: var(--border);
}
.simplebar-track.simplebar-vertical{
  width: 1rem;
}
.simplebar-scrollbar:before{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  border: var(--border);
  background-color: var(--col01);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

/* animated details for projects */
.projectsContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  padding-right: 2rem;
}
details > summary{
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 1rem;
  border: var(--border);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom-left-radius: 5px;

  font-size: var(--headline-2);

  list-style: none;
  cursor: pointer;
}

.detailsDisclosure{
  width: var(--headline-2);
  height: var(--headline-2);
  border: 2px solid var(--col01);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: calc(var(--headline-2)/4);
  
  background-color: var(--col02);

  transition: 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
details[open] .detailsDisclosure {
  filter: invert();
}
details > summary:hover .detailsDisclosure{
  filter: invert();

  transition: 70ms;
}
line {
  stroke: var(--col01);
  transition: 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transform-origin: center;
}
/* top line */
details[open] > summary > svg > line:nth-child(1) {
  stroke-width: 20;
  transform: translate(-15%,10%) rotate(45deg) scale(50%, 50%);
}
/* middle line */
details[open] > summary > svg > line:nth-child(2) {
  opacity: 0;
  transform: rotate(180deg);
}
/* bottom line */
details[open] > summary > svg > line:nth-child(3) {
  stroke-width: 20;
  transform: translate(7.5%,-5%) rotate(-45deg) scale(50%, 50%);
}

.summaryText {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.projectTitle {
  margin: 0;
  font-size: var(--headline-2);
  border-bottom: 10px solid var(--col01);
  border-image: linear-gradient(90deg, var(--col01), var(--col02)) 30;

  background-color: var(--col02);

  transition: 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
details > summary:hover .projectTitle{
  filter: invert();

  transition: 70ms;
}
.projectInfo{
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-left: calc(var(--headline-2)/4);

  font-size: var(--headline-4);
  line-height: var(--headline-2);
    
  opacity: 0.5;
  transition: 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
details > summary:hover .projectInfo, details[open] .projectInfo{
  margin-left: 0;
  font-size: var(--headline-3);
  opacity: 1;

  transition: 70ms;
}